{% extends "_base.html" %}
{% load book_tags %}
{% block title %}کتاب {{ book.title }}{% endblock title %}
{% block content %}
    <div class="card">
        <h5 class="card-header">{{ book.author|get_up:'Author'}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ book.title|capfirst }}</h5>
            <p class="card-text">{{ book.description|linebreaks }}</p>
            <a href="#" class="btn btn-primary">{{ book.price }}</a>
            {% if book.cover %}
                <img class="shadow" width="150" height="230" src="{{ book.cover.url }}" alt="">
            {% endif %}
        </div>
    </div>

    <div class="mt-2 mx-2">
        <a class="" href="{% url "book_delete" book.id %}">
            <button type="button" class="btn btn-secondary">Delete</button>
        </a>
        <a class="" href="{% url "book_update" book.id %}">
            <button type="button" class="btn btn-primary">Update</button>
        </a>
    </div>

{% if comments %}
<div class="d-flex justify-content-center">
    <div class="card shadow my-3 p-5 w-sm-75 w-100">
        <h2 class="mb-5">Comments:</h2>
        {% for comment in comments %}
            <div class="border-bottom mb-3">
                <h5 class="mb-3">{{ comment.user.username }}</h5>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

    <form class="mt-5 mx-5" action="{% url "book_detail" book.id %}" method='POST'>
        {% csrf_token %}
        <h1>Add a new Comment:</h1>
        <div class="form-group row mt-1">
          <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Text:</label>
          <div class="col-sm-5">
            <input name="text" type="text" class="form-control form-control-lg shadow" id="colFormLabelLg" placeholder="write here...">
          </div>
        </div>
        <button class="btn btn-primary btn-lg shadow mt-2" type="submit">Send</button>
      </form>
{% endblock content %}