{% extends "_base.html" %}
{% block title %}اضافه کردن کتاب{% endblock title %}
{% block content %}
<form action="{% url "book_create" %}" method="post" class="needs-validation mx-3" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Title</label>
        <input type="text" name="title" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Author</label>
        <input type="text" name="author" class="form-control" id="validationCustom02" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">Description</label>
        <input type="text" name="description" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid Description.
        </div>
      </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Price</label>
        <input type="number" name="price" step="0.01" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
          Please provide a valid Price.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Cover</label>
        <input type="number" name="price" step="0.01" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
          Please provide a valid Price.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
  
  <script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
  </script>
{% endblock content %}