{% extends "_base.html" %}
{% load book_tags %}
{% block page_title %}لیست کتاب ها{% endblock page_title %}
{% block search_form %}
<form class="d-flex" method="POST">
    {% csrf_token %}
    <input name="search_query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
{% endblock search_form %}
{% block content %}
<div class="d-flex justify-content-center flex-wrap mt-3">
    {% if page_obj %}
        {% for book in page_obj %}
            <div class="card mx-1" style="width: 18rem;">
                {% if book.cover %}
                    <img height="350" class="card-img-top shadow" src="{{ book.cover.url }}" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.author|get_up:'Author'}}</h5>
                    <hr>
                    <h5 class="card-title">{{ book.title|capfirst }}</h5>
                    <p class="card-text">{{ book.description|truncatechars:35 }}</p>
                    <a href="{{ book.get_absolute_url }}" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for book in books %}
            <div class="card mx-1" style="width: 18rem;">
                {% if book.cover %}
                    <img height="350" class="card-img-top shadow" src="{{ book.cover.url }}" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.author|get_up:'Author'}}</h5>
                    <hr>
                    <h5 class="card-title">{{ book.title|capfirst }}</h5>
                    <p class="card-text">{{ book.description|truncatechars:35 }}</p>
                    <a href="{{ book.get_absolute_url }}" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% if page_obj %}
    <div class="d-flex justify-content-center mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item">
                    <a class="page-link" href="">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endif %}
{% endblock content %}